<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>936957627271-akjit4bmnkrv5t7btmh7oc2h9kma5kqs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.936957627271-akjit4bmnkrv5t7btmh7oc2h9kma5kqs</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>936957627271-dm29t4f9a1mbu8td45rk0ve5n7dqboas.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyByNx1C3lqbaNnMObJnYBtYGVuYpSf3X2Y</string>
	<key>GCM_SENDER_ID</key>
	<string>936957627271</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.diploma</string>
	<key>PROJECT_ID</key>
	<string>cogm-e4ca1</string>
	<key>STORAGE_BUCKET</key>
	<string>cogm-e4ca1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:936957627271:ios:659e48afb9afe397a3e122</string>
</dict>
</plist>